*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box; 
    font-family: sans-serif; 
}
.backcolor {
    background-image: url(./img/jumbo.png);    
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
 header{
    color: white;
 }
.header-box{   
    height: 3rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;   
}
.header-box-1{
    background-image: url(./img/logo.svg);    
    background-position: center;
    background-size: cover;
    width: calc((100% / 8) ); 
    height: 60px;     
}
.header-box-2{
    text-align: center;
    line-height: 40px;
    width: calc(100% / 3);   
    font-size: 28px;
}
.header-box-3{    
    width: calc((100% / 8) );   
}
.blueback{    
    min-height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 2rem; 
}
.pink-box{
    font-size: 35px;
    height: 25rem;
    width: 60rem;
    text-align: center;  
}
.pink-box > button{
    border: none;    
    border-radius: 20px;
    font-size: 26px;
    padding: 9px;
    margin: 0.5px 5px;
}
h1, p {
    padding: 22px;
}
.open-b{
    background-color: #333;
    color: whitesmoke;
}
.login{
    border: none;
    background-color: whitesmoke;
    border-radius: 18px;
    font-size: 23px;
    padding: 7px;      
}

 /* MAIN CONTENT */

.back-white{
    background-color: whitesmoke;
    min-height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-grey{
    background-color: whitesmoke;
    min-height: 45rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;    
    justify-content: center;  
}
.blue-column{
    width: calc(100% / 2.5);
    height: 28rem;
    background-size: cover; 
    background-position: center;   
}
.item-one{
    background-image: url(./img/item1.svg);
}
.item-two{
    background-image: url(./img/item2.svg);
}
.item-three{
    background-image: url(./img/item3.svg);
}
.pink-column{
    width: calc(100% / 5);
    max-height: 28rem;
    color: black;
    text-align: left;
    font-size: 25px;    
    padding-bottom: 10rem ;
}
.pink-column > p {
    font-size: 25px;
}
.back-green{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
    min-height: 45rem;
    min-width: 80rem;
    margin: 5rem;
    text-align: center;
}
#big {
    width: 90rem;
    height: auto;   
}
.back-green > div > h1 {
    font-size: 28px;
    background-image: url(./img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3rem;   
}
.back-green > div > button{
    border: none;    
    border-radius: 20px;
    font-size: 26px;
    padding: 9px;
    margin: 0.5px 5px;
    background-color: hsl(236, 88%, 67%);
    color: white;
    font-size: 20px;
}

/* footer-section */

.black-back{
    background-color: rgb(44, 43, 43);
    min-height: 40rem;  
    display: flex;    
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    color: white;
    text-align: left;
}
.salmon-column{
    color: white;
    min-height: 30rem;
    width: calc(100% / 4);
    align-self: center;      
}
.text-color{
    color:hsl(236, 88%, 67%);
}
h4{
    font-size: 18px;
    margin-top: 1rem;
}
div > img, i{
    width: 25px;
    height: 15px;
    margin-left: 0.5rem;
}
.salmon-column > h1{
    font-size: 42px;
    padding-left: 0.5rem;
}
.azul-column{    
    min-height: 30rem;
    width: calc(100% / 7);
    align-self: center;    
}
.black-back-logo{
    background-color:  rgb(44, 43, 43);
    min-height: 7rem;    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}
.container-logo{    
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 51%;
    align-self: first baseline;
    margin: 2rem 0;
}
.logo{
    width: 200px;
    height: 60px;         
}
.button{
    border: none;    
    border-radius: 20px;
    font-size: 26px;
    padding: 9px;
    margin: 0.5px 5px;
    background-color: hsl(236, 88%, 67%);
    color: white;
    font-size: 20px;
}

 /* BONUS */

.wave{
    width: 100%;
    height: 51px;    
    opacity: 0.08 ;
}



 